---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?attributes=hot_and_new&latitude=37.767413217936834&longitude=-122.42820739746094&offset=0&open_now=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test-api-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-54cbd4db6f-b8bl9; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4997'
      Ratelimit-Resettime:
      - '2021-08-30T00:00:00+00:00'
      X-Zipkin-Id:
      - 444bd2c89044b02f
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-160-255-useast1bprod
      X-Extlb:
      - 10-65-160-255-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "vmwLmMvOK-JB2uT3Cqinyw", "alias": "spro-coffee-lab-san-francisco-8",
        "name": "SPRO Coffee Lab", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/lIm4CTAKYJPYtzpp9cRjdw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/spro-coffee-lab-san-francisco-8?adjust_creative=P2GaK6HBQNVuRV1M6JE1_w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=P2GaK6HBQNVuRV1M6JE1_w",
        "review_count": 28, "categories": [{"alias": "coffee", "title": "Coffee &
        Tea"}, {"alias": "cafes", "title": "Cafes"}], "rating": 5.0, "coordinates":
        {"latitude": 37.76280950492828, "longitude": -122.4286748}, "transactions":
        [], "price": "$", "location": {"address1": "500 Church St", "address2": "",
        "address3": null, "city": "San Francisco", "zip_code": "94114", "country":
        "US", "state": "CA", "display_address": ["500 Church St", "San Francisco,
        CA 94114"]}, "phone": "+14158283106", "display_phone": "(415) 828-3106", "distance":
        513.5550968493183}, {"id": "PeVhtpG9PjHWmYgtO6kV3w", "alias": "luna-san-francisco-3",
        "name": "LUNA", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/4gNmCGdk-aY5y2E_qxQMXQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/luna-san-francisco-3?adjust_creative=P2GaK6HBQNVuRV1M6JE1_w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=P2GaK6HBQNVuRV1M6JE1_w",
        "review_count": 35, "categories": [{"alias": "newamerican", "title": "Am[...]
